@model IEnumerable<coba.Models.Pegawai>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NamaPegawai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jabatan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaPegawai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jabatan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPegawai">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPegawai">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPegawai">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
